*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:28:20 Nov 01, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 183.155
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.082
  RedisCDXSource: 8.274
  esindex: 0.006
  LoadShardBlock: 152.589 (3)
  PetaboxLoader3.datanode: 167.376 (4)
  CDXLines.iter: 15.528 (3)
  PetaboxLoader3.resolve: 85.366 (2)
  load_resource: 145.644
*/